@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

:root {
  --clr-blue: #1a91f0;
  --clr-blue-mid: #1170cd;
  --clr-blue-dark: #64d3ff;
  --clr-white: #fff;
  --clr-bright: #eff2f9;
  --clr-dark: #434750;
  --clr-black: #434750;
  --clr-grey: #656e83;
  --font-poppins: "Poppins", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --transition: all 300ms ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-poppins);
}

/* Header section */
.header {
  padding: 2rem; /* Added padding for the header section */
  text-align: right;
}

/* Flexbox layout for sections */
.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.left-section,
.right-section {
  padding: 2rem;
}

.left-section {
  flex: 1 1 60%; /* Adjust left section to 70% */
}

.right-section {
  flex: 1 1 5%; /* Adjust right section to 30% */
  margin-top: 30px;
}

/* Print button */
.print-btn-sc {
  clear: both; /* Clear floating elements */
  margin-top: 2rem; /* Added margin for spacing */
}

button {
  border: none;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  font-family: inherit;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

/* fonts */
.font-poppins {
  font-family: var(--font-poppins);
}
.font-manrope {
  font-family: var(--font-manrope);
}

/* text colors */
.text-blue {
  color: var(--clr-blue);
}
.text-blue-mid {
  color: var(--clr-blue-mid);
}
.text-blue-dark {
  color: var(--clr-blue-dark);
}
.text-bright {
  color: var(--clr-bright);
}
.text-dark {
  color: var(--clr-dark);
}
.text-grey {
  color: var(--clr-grey);
}
.text-white {
  color: var(--clr-white);
}

/* backgrounds */
.bg-blue {
  background-color: var(--clr-blue);
}
.bg-blue-mid {
  background-color: var(--clr-blue-mid);
}
.bg-blue-dark {
  background-color: var(--clr-blue-dark);
}
.bg-bright {
  background-color: var(--clr-bright);
}
.bg-dark {
  background-color: var(--clr-dark);
}
.bg-grey {
  background-color: var(--clr-grey);
}
.bhg-wite {
  background-color: var(--clr-white);
}
.text-center {
  text-align: center;
}
.footbar-img {
  width: 70px;
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text {
  color: var(--clr-dark);
  opacity: 0.9;
  margin: 2rem 0;
  line-height: 1.6;
}

.fw-2 {
  font-weight: 200;
}
.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 800;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}

.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}
.fs-19 {
  font-size: 19px;
}
.fs-20 {
  font-size: 20px;
}
.fs-21 {
  font-size: 21px;
}
.fs-22 {
  font-size: 22px;
}
.fs-23 {
  font-size: 23px;
}
.fs-24 {
  font-size: 24px;
}
.fs-32 {
  font-size: 42px;
}

.ls-1 {
  letter-spacing: 2px;
}
.ls-2 {
  letter-spacing: 2px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* buttons */
.btn {
  font-size: 14.5px;
  font-weight: 550;
  padding: 1.2rem 1.4rem;
  border-radius: 2rem;
  display: inline-block;
}

.btn-primary {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  border: 1px solid var(--clr-blue);
  transition: var(--transition);
}

.btn-primary:hover {
  background-color: transparent;
  color: var(--clr-dark);
  border-color: var(--clr-grey);
}

.btn-secondary {
  background-color: transparent;
  color: var(--clr-dark);
  border: 1px solid var(--clr-grey);
  transition: var(--transition);
}

.btn-secondary:hover {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  border-color: var(--clr-blue);
}

.btn-group button:first-child,
.btn-group a:first-child {
  margin-right: 1rem !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 380px) {
  .dropdown .btn {
    width: auto;
    height: auto;
    padding: 0;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0; /* Hide text */
    position: relative;
    border-radius: 6px;
  }

  .dropdown .btn::before,
  .dropdown .btn::after,
  .dropdown .btn .middle-dot {
    content: "";
    display: block;
    width: 6px; /* Size of each dot */
    height: 6px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255); /* Dot color */
    position: absolute;
  }

  .dropdown .btn::before {
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
  }

  .dropdown .btn .middle-dot {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .dropdown .btn::after {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  .dropdown .btn.show {
    font-size: initial; /* Show text */
  }

  .dropdown .btn.show::before,
  .dropdown .btn.show::after,
  .dropdown .btn.show .middle-dot {
    display: none; /* Hide dots */
  }

  .dropdown .drop_list {
    display: none; /* Initially hide dropdown list */
  }

  .dropdown .btn.show + .drop_list {
    display: block; /* Show dropdown list when button is in "show" state */
  }
}

.header {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column-reverse;
  align-items: baseline;
  text-align: right;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-end;
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
}
.text_position {
  width: 490px;
  text-align: left;
}
.header-content {
  max-width: 740px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
}

.lg-title {
  margin: 1.4rem 0;
  font-size: 3.8rem;
  text-transform: capitalize;
  line-height: 1.3;
  font-weight: 600;
  color: var(--clr-dark);
  letter-spacing: 0.7px;
  text-align: center;
}
.brand-text {
  display: inline-block;
  color: var(--clr-blue);
  font-family: var(--font-manrope);
  font-size: 4.2rem;
  letter-spacing: 1.2px;
  font-weight: 800;
  margin-bottom: 2rem;
}
.header-text {
  text-align: center;
  font-size: 15px;
  color: var(--clr-grey);
  line-height: 1.5;
  font-weight: 400;
}

/* section one */
.section-one {
  padding: 64px 0;
  min-height: 80vh;
  display: flex;
  align-items: center;
}
.section-one-l img {
  max-width: 545px;
  margin-right: auto;
  margin-left: auto;
}
.section-one-r {
  margin-top: 4rem;
}

.section-one .btn-group {
  margin-top: 2rem;
}
.section-one-r {
  max-width: 545px;
  margin-right: auto;
  margin-left: auto;
}
.section-one-r .btn-group {
  margin-top: 3rem;
}

/* section two */
.section-two {
  padding: 64px 0;
}
.section-two .section-items {
  display: grid;
  gap: 2rem;
}

.section-two .section-item {
  max-width: 350px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.section-two .section-item-icon {
  margin: 1rem 0;
}
.section-two .section-item-icon img {
  width: 80px;
  margin-right: auto;
  margin-left: auto;
}
.section-two .section-item-title {
  color: var(--clr-blue-dark);
  font-size: 1.8rem;
  font-weight: 600;
}
.section-two .text {
  margin: 0.9rem 0;
}

/* footer */
.footer {
  padding: 3rem 0;
}
.footer-content {
  text-align: center;
}
.footer-content p {
  color: var(--clr-grey);
  text-align: center;
}
.footer-content p span {
  color: var(--clr-white);
  text-align: center;
}

.wrapper {
  display: flex;
}

.left-section {
  width: 55%;
}

.right-section {
  margin-top: 30px;
  width: 45%;
}

/* media queries */
@media screen and (min-width: 768px) {
  .section-two .section-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .section-one-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }
  .section-one-r {
    text-align: left;
  }
  .section-two .section-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .section-two .section-item {
    text-align: left;
  }
  .section-two .section-item-icon img {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .cols-3 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  .cols-2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .cv-form-row {
    padding: 3rem 3rem 0rem 3rem;
  }

  .cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
